DirectoryIndex index.php index.html index.htm  /.localhost/index.php

ErrorDocument 400 /.localhost/error.php
ErrorDocument 401 /.localhost/error.php
ErrorDocument 403 /.localhost/error.php
ErrorDocument 404 /.localhost/error.php
ErrorDocument 405 /.localhost/error.php
ErrorDocument 407 /.localhost/error.php
ErrorDocument 408 /.localhost/error.php
ErrorDocument 414 /.localhost/error.php
ErrorDocument 429 /.localhost/error.php
ErrorDocument 500 /.localhost/error.php
ErrorDocument 502 /.localhost/error.php
ErrorDocument 503 /.localhost/error.php
ErrorDocument 507 /.localhost/error.php
ErrorDocument 508 /.localhost/error.php

# for nginx
# ErrorDocument 444 /.localhost/error.php
# ErrorDocument 499 /.localhost/error.php
