/**
 * GENERAL
 */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1f1f1;
	color: #444;
	font-family: sans-serif;
}

p { color: #ACBAC9; }

a {
	color: #17BBB0;
	text-decoration: none;
	transition: all 0.12s ease;
}

.icon { font-style: normal; }

/**
 * LAYOUT
 */
.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 840px;
}

.column {
	box-sizing: border-box;
	float: left;
	margin-top: 10px;
	padding: 20px 20px 0;
	width: 50%;
}

/* clearfix */
.navbar:after,
.panel:after {
	content: " ";
	display: table;
	font-size: 0;
	clear: both;
}

/**
 * NAVBAR
 */
.navbar {
	display: block;
	background-color: #17BBB0;
}

.navbar a {
	display: inline-block;
	padding: 20px;
	color: rgba(255,255,255,0.6);
	font-size: 18px;
}

.navbar a:hover { color: #fff; }

/* branding */
.navbar .branding {
	float: left;
	text-transform: uppercase;
}

.navbar .branding h1 { margin: 0; }

/* menu */
.navbar .menu { float: right; }

.navbar .menu li {
	display: inline-block;
	list-style: none;
	vertical-align: top;
}

.navbar .github-link { padding: 13px 20px; }

/**
 * PANELS
 */
.panel {
	display: block;
	background-color: #fff;
	box-shadow: 0 2px 1px 1px rgba(0,0,0,0.05);
}

.panel-heading {
	position: relative;
	padding: 30px;
}

.panel-heading h3 { display: inline-block; }
.panel-heading .btn-back + h3 { margin-left: 40px; }

.panel-heading .btn-back:after {
	content: '\276E';
	position: absolute;
	top: 20px;
	left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	font-size: 1.2em;
	text-align: center;
	line-height: 38px;
	transition: all 0.12s ease;
}

.panel-heading .btn-back:hover:after { background-color: rgba(197,211,226,0.3); }

.list-group-item {
	position: relative;
	display: block;
	padding: 20px 60px 20px 30px;
	border-top: 1px solid rgba(197,211,226,0.4);
	color: #17BBB0;
}

.list-group-item.is-file { color: #5C6A79; }

a.list-group-item:hover {
	background-color: rgba(197,211,226,0.3);
	border-top-color: rgba(197,211,226,0.1);
}

a.list-group-item p { margin-top: 6px; }

.list-group-item.is-dir:after {
	content: '\279C';
	position: absolute;
	top: 20px;
	right: 20px;
	color: #C5D3E2;
	font-size: 1.2em;
}

.list-group-item .label {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 20px;
	height: 20px;
	background-color: #6C7A89;
	border-radius: 2px;
}

.list-group-item .label-success { background-color: #2ECC71; }
.list-group-item .label-danger { background-color: #E74C3C; }

/**
 * MEDIA QUERIES
 */
@media ( max-width: 740px ) {
	.column { width: 100%; }
}
